<div class="movie__wrapper">
  <div class="container">
    <div class="movie-list">
      @for (movie of movieStore.myMovies(); track movie.id) {
      <div class="movie-list__item" (click)="navigateToMovie(movie.id)" style="cursor: pointer">
        <app-movie-card-component [movie]="movie"></app-movie-card-component>
      </div>
      }
    </div>
  </div>
</div>

<app-pagination-component [rows]="rows" [totalRecords]="totalRecords" [first]="first"
  (pageChange)="onPaginationChange($event)">
</app-pagination-component>
