.search__bar__row {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
}

.search-input {
  padding: 0.875rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1.1rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.03);
  outline: none;
  margin-top: -1.5rem;
  width:77.3125rem;
}

.search-btn {
  min-width: 110px;
  height: 44px;
  border-radius: 8px !important;
  background: #ffe156 !important;
  color: #222 !important;
  font-size: 1.1rem !important;
  border: none !important;
  box-shadow: none !important;
  transition: background 0.2s;
  width: 7.5rem;
  margin-top: -1.5rem;
  padding: 1rem 1.2rem 2rem 1.2rem;
}

.search-btn:hover,
.search-btn:focus {
  background: #ffd600 !important;
  color: #111 !important;
}
