/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "primeicons/primeicons.css";

html, body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.p-select-label {
  font-size: 1rem;
  color: #222;
  font-weight: bold;
margin-right: -1.2rem;}



.p-component {
  --p-paginator-nav-button-selected-background: #ffe156;
  --p-paginator-nav-button-selected-color: #111;
  --p-paginator-button-border-radius: 6px;
  --p-button-padding: 0.5rem 0.75rem;
  --p-button-text-color: #222;
  --p-button-bg: #fff;
  --p-button-hover-bg: #ffe15644;
}

.p-paginator-page {
  border-radius: 0 !important;
  width: 36px;
  height: 36px;
}

.p-paginator-page.p-highlight {
  border-radius: 0 !important;
}

.p-paginator-pages > button {
  margin: 0 4px !important; /* space left and right */
}



.container{
  width:92rem;
  margin: 0 auto;
}


